<div>
  {{#if picture}}
    <h1 class='post-title'><a href="#" class='btn' data-hull-action="sendByMail">Send me the mail again</a></h1>
  {{else}}
    <h3>Sad panda, you have no picture in your profile</h3>
  {{/if}}
</div>
