<div>
  {{#if picture}}
    <a href="#" class='hull-btn' data-hull-action="sendByMail">Send me the mail again</a>
  {{else}}
    <h3>Sad panda, you have no picture in your profile</h3>
  {{/if}}
</div>
