{{#if loggedIn}}
  <div class="hull-media hull-identity">
    <h3>{{me.name}},<br/>you've been hullstached.</h3>
    <div data-hull-widget="hullstache"></div>
    <div class="hull-stache__description secondary">
      <p>
        <a data-hull-action="logout" class="logout">Now logout</a>
      </p>
  </div>
{{else}}
  {{#authServices}}
    <div class="hull-stache__description">
      <h3>Dude, y u no click this button ?</h3>
      {{! <p>Logging in will send you an amazing hullstached picture of you by email.</p> }}
    </div>
    <button class="hull-btn" data-hull-action="login" data-hull-provider="{{.}}" >hullstache me with {{classify .}}</button>
    <div class="hull-stache__description secondary">
      <p>This app is open source, it's a demo of hull's webhooks
        <br/>
        <a href="http://github.com/hull/hullstache">Check out how it's done.</a>
      </p>
    </div>
  {{/authServices}}

  {{^authServices}}
  {{#if debug}}
    No Auth Services configured, please add at least one in the admin.
  {{/if}}
  {{/authServices}}
{{/if}}
